<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <!-- Webpage Title -->
    <title>Lung Cancer</title>

    <!-- Styles -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link href="{% static 'css/bootstrap.min.css' %}"rel="stylesheet" />
    <link href="{% static 'css/fontawesome-all.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/aos.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/form.css' %}" rel="stylesheet" />

    <!-- Favicon -->
    <link rel="icon" href="./assets/images/favicon.png" />
  </head>
  <body>
    <!-- Navigation -->
    <nav
      id="navbar"
      class="navbar navbar-expand-lg fixed-top navbar-dark"
      aria-label="Main navigation"
    >
      <div class="container">
        <!-- Image Logo -->
        <!-- <a class="navbar-brand logo-image" href="index.html"><img src="images/logo.svg" alt="alternative"></a> -->

        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <a class="navbar-brand logo-text" href="index.html">Virtual Cancer Care</a>

        <button
          class="navbar-toggler p-0 border-0"
          type="button"
          id="navbarSideCollapse"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="navbar-collapse offcanvas-collapse"
          id="navbarsExampleDefault"
        >
          <ul class="navbar-nav ms-auto navbar-nav-scroll">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="index.html#header"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html#about">About</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="index.html#plans">Plans</a>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="dropdown01"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                href="#"
                >Tools</a
              >

              <ul class="dropdown-menu" aria-labelledby="dropdown01">
                <li>
                  <a class="dropdown-item" href="{% url 'leukemia' %}"
                    >Leukemia Cancer Prediction Tool</a
                  >
                </li>
                <li><div class="dropdown-divider"></div></li>
                <li>
                  <a class="dropdown-item" href="{% url 'bcancer' %}"
                    >Breast Cancer Prediction Tool</a
                  >
                </li>
                <li><div class="dropdown-divider"></div></li>
                <li>
                  <a class="dropdown-item" href="{% url 'lung' %}"
                    >Lung Cancer Precition Tool</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html#contact">Contact</a>
            </li>
          </ul>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'log' %}"
              >Login/Signup</a
            >
          </li>
        </div>
        <!-- end of navbar-collapse -->
      </div>
      <!-- end of container -->
    </nav>
    <!-- end of navbar -->
    <!-- end of navigation -->

    <!-- Header -->
    <header class="ex-header">

        <!-- tool started -->
        <div class="container">
          <div>
            <h1>Lung Cancer Tool</h1>
          </div>
          <section>
            <p>Answer the following questions carefully to get the most accurate prediction!</p>
            
          </section>
          <form action="{% url 'lresult' %}" method="POST" name="form">
            {% csrf_token %}

            <section>
             <p>What is the Air Quality Index (AQI) of the city of your residence?</p>
             <input type="text" name="air_pollution" class="air_pollution" id="air_pollution"/>
            </section>

             <section>
              <p>How often do you consume alcohol?</p>
             
               <input type="checkbox" name="alcohol_use" value="1">never
               <br><br>
               <input type="checkbox" name="alcohol_use" value="2">1-2 drinks per month
               <br><br>
               <input type="checkbox" name="alcohol_use" value="3">1-2 drinks per week
               <br><br>
               <input type="checkbox" name="alcohol_use" value="6">1-2 drinks per day
               <br><br>
               <input type="checkbox" name="alcohol_use" value="8">8-12 drinks per week
               <br><br>
               <input type="checkbox" name="alcohol_use" value="10">more than above
               <br><br>
               
             </section>
             
              <section>
                <p>How many dust-related sneezing/coughing attacks do you experience in a month?</p>
              
                <input type="checkbox" name="chk[]" value="2">1-2
                <br><br>
                <input type="checkbox" name="chk[]" value="5">weekly
                <br><br>
                <input type="checkbox" name="chk[]" value="9">more than 5 times a month
                <br><br>
                <input type="checkbox" name="chk[]" value="1">none
                <br><br>
                
              
                <p>What would you rate the intensity of your symptoms on a scale of 1 to 10? (0 if not applicable)</p>
                <input type="text" name="dust_allergy" class="dust_allergy" id="dust_allergy"/>
              </section>

              <section>
                <p>1. Are you exposed to the following agents during a typical workday? Asbestos, Arsenic, Aluminum, beryllium and beryllium oxide, cadmium, and Paint.</p>
              
                <input type="checkbox" name="hazard1" value="10">yes
                <br><br>
                <input type="checkbox" name="hazard1" value="5">sometimes
                <br><br>
                <input type="checkbox" name="hazard1" value="1">no
                <br><br>
              
                <p>2. What are the durations of your exposure?</p>
              
                <input type="checkbox" name="hazard2" value="10">high
                <br><br>
                <input type="checkbox" name="hazard2" value="6">moderate
                <br><br>
                <input type="checkbox" name="hazard2" value="4">low
                <br><br>
                <input type="checkbox" name="hazard2" value="1">none
                <br><br>
              </section>

              <section>
                <p>Who in your family has/had Lung Cancer?</p>
              
                <input type="checkbox" name="genetic_risk" value="4">Parent
                <br><br>
                <input type="checkbox" name="genetic_risk" value="3">Grandparent
                <br><br>
                <input type="checkbox" name="genetic_risk" value="3">other blood relative
                <br><br>
                <input type="checkbox" name="genetic_risk" value="1">no one
                <br><br>
                
              </section>

              <section>
                <p>Do you have a chronic lung disease such as asthma, chronic obstructive pulmonary disease (COPD), pulmonary fibrosis, asbestosis, or pneumonitis?</p>
              
                <input type="checkbox" name="chronic_disease" value="10">yes
                <br><br>
                <input type="checkbox" name="chronic_disease" value="1">no
                <br><br>
                
              </section>

              <section>
                <p>What is your balanced diet?</p>
                <input type="text" name="diet" class="diet" id="diet"/>
                
              </section>

              <section>
                <p>What is your BMI?</p>
                <input type="text" name="obesity" class="obesity" id="obesity"/>
                
              </section>

              <section>
                <p>
                  Does anyone in your family or work environment smoke, causing you to inhale second-hand smoke?</p>
              
                <input type="checkbox" name="passive_smoker" value="10">yes and frequently
                <br><br>
                <input type="checkbox" name="passive_smoker" value="7">yes but not frequently
                <br><br>
                <input type="checkbox" name="passive_smoker" value="5">sometimes
                <br><br>
                <input type="checkbox" name="passive_smoker" value="2">rarely
                <br><br>
                <input type="checkbox" name="passive_smoker" value="1">no
                <br><br>
                
              </section>

              <section>
                <p>1. Do you experience chest pain?</p>
              
                <input type="checkbox" name="chest_pain1" value="10">yes
                <br><br>
                <input type="checkbox" name="chest_pain1" value="1">no
                <br><br>
                
              
                <p>2. What would you rate the intensity of your pain on a scale of 1 to 10?</p>
                <input type="text" name="chest_pain2" class="chest_pain2" id="chest_pain2"/>
                
              </section>

              <section>
                <p>Have you suddenly started coughing blood?</p>
              
                <input type="checkbox" name="blood" value="9">frequently
                <br><br>
                <input type="checkbox" name="blood" value="6">has happened a few times
                <br><br>
                <input type="checkbox" name="blood" value="1">no
                <br><br>
                
              </section>

              <section>
                <p>Do you often feel tired for no particular reason? You might feel sleepy throughout the day even after getting a 6-8 hour sleep or might feel groggy or irritated due to tiredness?</p>
              
                <input type="checkbox" name="fatigue" value="10">yes, frequently
                <br><br>
                <input type="checkbox" name="fatigue" value="8">often
                <br><br>
                <input type="checkbox" name="fatigue" value="6">sometimes
                <br><br>
                <input type="checkbox" name="fatigue" value="3">rarely
                <br><br>
                <input type="checkbox" name="fatigue" value="1">never
                <br><br>
                
              </section>
            
            <div class="button" id="prev">&larr; Previous</div>
            <div class="button" id="next">Next &rarr;</div>
            <input class="button" type="submit" id="submit" ></input>
          </form>
          
          <div id="svg_wrap"></div>
        </div>
        <!-- tool ends -->
        

    <!-- Footer -->
    <div class="footer text-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 py-4 py-md-5">
            <div class="d-flex align-items-center">
              <h4 class="">Virtual Cancer Care</h4>
            </div>
            <p class="py-3 para-light">
              Follow Us!
            </p>
            <div class="d-flex">
              <div class="me-3">
                <a href="#your-link">
                  <i class="fab fa-facebook-f fa-2x py-2"></i>
                </a>
              </div>
              <div class="me-3">
                <a href="#your-link">
                  <i class="fab fa-twitter fa-2x py-2"></i>
                </a>
              </div>
              <div class="me-3">
                <a href="#your-link">
                  <i class="fab fa-instagram fa-2x py-2"></i>
                </a>
              </div>
            </div>
          </div>
          <!-- end of col -->

          <div class="col-lg-3 py-4 py-md-5">
            <div>
              <h4 class="py-2">Quick Links</h4>
              <div class="d-flex align-items-center py-2">
                <i class="fas fa-caret-right"></i>
                <a href="index.html#about"><p class="ms-3">About</p></a>
              </div>
              <div class="d-flex align-items-center py-2">
                <i class="fas fa-caret-right"></i>
                <a href="index.html#services"><p class="ms-3">Services</p></a>
              </div>
              <div class="d-flex align-items-center py-2">
                <i class="fas fa-caret-right"></i>
                <a href="index.html#plans"><p class="ms-3">Plans</p></a>
              </div>
              <div class="d-flex align-items-center py-2">
                <i class="fas fa-caret-right"></i>
                <a href="index.html#contact"><p class="ms-3">Contact</p></a>
              </div>
            </div>
          </div>
          <!-- end of col -->

          <div class="col-lg-3 py-4 py-md-5">
            <div>
              <h4 class="py-2">Useful Links</h4>
              <div class="d-flex align-items-center py-2">
                <i class="fas fa-caret-right"></i>
                <a href="privacy.html"><p class="ms-3">Privacy</p></a>
              </div>
              <div class="d-flex align-items-center py-2">
                <i class="fas fa-caret-right"></i>
                <a href="terms.html"><p class="ms-3">Terms</p></a>
              </div>
              <div class="d-flex align-items-center py-2">
                <i class="fas fa-caret-right"></i>
                <a href="#your-link"><p class="ms-3">Disclaimer</p></a>
              </div>
              <div class="d-flex align-items-center py-2">
                <i class="fas fa-caret-right"></i>
                <a href="#your-link"><p class="ms-3">FAQ</p></a>
              </div>
            </div>
          </div>
          <!-- end of col -->

          <div class="col-lg-3 py-4 py-md-5">
            <div class="d-flex align-items-center">
              <h4>Newsletter</h4>
            </div>
            <p class="py-3 para-light">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Laboriosam, ab.
            </p>
            <div class="d-flex align-items-center">
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control p-2"
                  placeholder="Enter Email"
                  aria-label="Recipient's email"
                  aria-describedby="button-addon2"
                />
                <button class="btn-secondary text-light" id="button-addon2">
                  <i class="fas fa-envelope fa-lg"></i>
                </button>
              </div>
            </div>
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of footer -->

    <!-- Bottom -->
    <div class="bottom py-2 text-light">
      <div class="container d-flex justify-content-between">
        <div>
          <p>Copyright © Your name</p>
        </div>
        <div>
          <i class="fab fa-cc-visa fa-lg p-1"></i>
          <i class="fab fa-cc-mastercard fa-lg p-1"></i>
          <i class="fab fa-cc-paypal fa-lg p-1"></i>
          <i class="fab fa-cc-amazon-pay fa-lg p-1"></i>
        </div>
      </div>
      <!-- end of container -->
    </div>
    <!-- end of bottom -->

    <!-- Back To Top Button -->
    <button onclick="topFunction()" id="myBtn">
      <img src="assets/images/up-arrow.png" alt="alternative" />
    </button>
    <!-- end of back to top button -->

    <!-- Scripts -->
    <script src="./js/bootstrap.min.js"></script>
    <!-- Bootstrap framework -->
    <script src="./js/purecounter.min.js"></script>
    <!-- Purecounter counter for statistics numbers -->
    <script src="./js/swiper.min.js"></script>
    <!-- Swiper for image and text sliders -->
    <script src="./js/aos.js"></script>
    <!-- AOS on Animation Scroll -->
    <script src="./js/script.js"></script>
    <!-- Custom scripts -->
    <script src="{% static 'js/jQuery.js' %}"></script>
    <script src="{% static 'js/form.js' %}"></script>
  </body>
</html>
